   <button mat-button mat-dialog-close class="float-right">
        <mat-icon>clear</mat-icon>
    </button>
    <div *ngIf="type=='timeDelay'">
        <h1 mat-dialog-title>Time Delay setting</h1>
        <div class="mat-elevation-z8" mat-dialog-conten>
            <table mat-table [dataSource]="dataSource1" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="deviceId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Device ID </th>
                        <td mat-cell *matCellDef="let find"> {{find.deviceId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="timeDelay">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Delay </th>
                        <td mat-cell *matCellDef="let find"> {{find.timeDelay}} </td>
                    </ng-container>

                </div>
                <tr mat-header-row *matHeaderRowDef="timeDelay"></tr>
                <tr mat-row *matRowDef="let row; columns: timeDelay;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <div *ngIf="type=='max-find'">
        <h1>Number of Maximum assinged assets</h1>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="coinId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin ID </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.coinId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="coinName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin Name </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.coinName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="maxFindAsset">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of find assigned </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.maxFindAsset}} </td>
                    </ng-container>

                </div>
                <tr mat-header-row *matHeaderRowDef="maxFind"></tr>
                <tr mat-row *matRowDef="let row; columns: maxFind;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <div *ngIf="type=='find-inactive'">
        <h1>Find Inactivity time setting</h1>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource1" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="deviceId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Device ID </th>
                        <td mat-cell *matCellDef="let find"> {{find.deviceId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="inActivityTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inactivity Time </th>
                        <td mat-cell *matCellDef="let find"> {{find.inActivityTime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="inactivitySMS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SMS </th>
                        <td mat-cell *matCellDef="let find"> {{find.inactivitySMS}} </td>
                    </ng-container>

                    <ng-container matColumnDef="inactivityEmail">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let find"> {{find.inactivityEmail}} </td>
                    </ng-container>


                </div>
                <tr mat-header-row *matHeaderRowDef="findInactivityTime"></tr>
                <tr mat-row *matRowDef="let row; columns: findInactivityTime;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <div *ngIf="type=='coin'">
        <h1>Coin Inactivity time setting</h1>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="coinId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin ID </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.coinId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="inActivityTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inactivity Time </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.inActivityTime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="sms">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SMS </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.sms}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.email}} </td>
                    </ng-container>

                </div>
                <tr mat-header-row *matHeaderRowDef="coinInactivityTime"></tr>
                <tr mat-row *matRowDef="let row; columns: coinInactivityTime;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <div *ngIf="type=='coin-cat'">
        <h1>Zone configuration for coin</h1>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="coinId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin ID </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.coinId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="zoneName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone Name </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.zoneName == null ? '-' : coin.zoneName.zoneName}} </td>
                    </ng-container>

                </div>
                <tr mat-header-row *matHeaderRowDef="coinConfig"></tr>
                <tr mat-row *matRowDef="let row; columns: coinConfig;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <div *ngIf="type=='zone'">
        <h1>Available Zones and its standard time</h1>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="zoneName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone Name </th>
                        <td mat-cell *matCellDef="let zone"> {{zone.zoneName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="standardTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Standard Time </th>
                        <td mat-cell *matCellDef="let zone"> {{zone.standardTime}} </td>
                    </ng-container>


                </div>
                <tr mat-header-row *matHeaderRowDef="zoneCategory"></tr>
                <tr mat-row *matRowDef="let row; columns: zoneCategory;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <div *ngIf="type=='groupName'">
        <h1>Available Group Names</h1>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource3" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="i">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="groupName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group Name </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.groupName}} </td>
                    </ng-container>

                </div>
                <tr mat-header-row *matHeaderRowDef="groupInfo"></tr>
                <tr mat-row *matRowDef="let row; columns: groupInfo;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <div *ngIf="type=='coinGrp'">
        <h1>Coin Group</h1>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="table-md-responsive">
                <div>
                    <ng-container matColumnDef="coinId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin ID </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.coinId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="coinName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin Name </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.coinName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="groupId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group Name </th>
                        <td mat-cell *matCellDef="let coin"> {{coin.groupId == null? '-' :coin.groupId.groupName}} </td>
                    </ng-container>

                </div>
                <tr mat-header-row *matHeaderRowDef="coinGroup"></tr>
                <tr mat-row *matRowDef="let row; columns: coinGroup;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
    <div *ngIf="type=='serviceType'">
        <h1>Available services</h1>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource4" matSort>
                <div>
                    <ng-container matColumnDef="serviceName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ServiceType Name</th>
                        <td mat-cell *matCellDef="let find"> {{find.serviceName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="zoneId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone Name </th>
                        <td mat-cell *matCellDef="let find"> 
                            <span *ngFor="let a of find.zoneId">
                                {{a.zoneName}},
                            </span>
                         </td>
                    </ng-container>

                </div>
                <tr mat-header-row *matHeaderRowDef="servicetype"></tr>
                <tr mat-row *matRowDef="let row; columns: servicetype;"></tr>
            </table>
            <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
