<button mat-button mat-dialog-close style="float: right;z-index: 999;"><mat-icon>clear</mat-icon></button> 

<div *ngIf="type=='find'">
<h1>{{type}}</h1>
</div>

<div *ngIf="type=='max-find'">
    <h1>{{type}}</h1>

</div>

<div *ngIf="type=='find-inactive'">
    <h1>{{type}}</h1>

</div>

<div *ngIf="type=='coin'">
    <h1>{{type}}</h1>

</div>

<div *ngIf="type=='coin-cat'">
    <h1>{{type}}</h1>

</div>

<div *ngIf="type=='zone'">
    <h1>{{type}}</h1>

</div>

<div *ngIf="type=='coinGrp'">
    <h1>{{type}}</h1>

</div>