<!-- <div class="container-fluid"> --><br>
<div class="d-flex justify-content-around">
    <div [ngStyle]="{'font-size':general.isDesktopDevice? 'xxx-large':'large'}">
        <span><strong>{{vehicleData.vehicleName}}</strong></span>
    </div>

    <div>
        <span [ngStyle]="{'font-size':general.isDesktopDevice? 'xx-large':'small'}"> <span>Estimated Delivery Time </span>: 14:00:00</span>
    </div>
</div> <br> <br>
<div class="d-flex justify-content-around">
    <div>
        <span [ngStyle]="{'font-size':general.isDesktopDevice? 'x-large':'small','margin-left':general.isDesktopDevice?'-5rem':'-4rem'}"><span>Service Type :</span> {{vehicleData.serviceType}} </span>
    </div>
    <div>
        <span [ngStyle]="{'font-size':general.isDesktopDevice? 'x-large':'small','margin-left':general.isDesktopDevice?'0rem':'-8rem'}"><span>Delayed Time :</span> 5 min </span>
    </div>
</div>
<br>

<span class="d-flex text-center zone">
        <mat-card id="card" *ngFor="let zone of zoneData ; let i = index; let first = first ;let last = last;"
            [ngClass]="first || last ? 'border-less': 'parallellogram'">
            <span>
                <p *ngIf="first">{{zone.zoneName}}</p>
                <p *ngIf="!first && !last" class="noSkew">{{zone.zoneName}}</p>
                <p *ngIf="last">{{zone.zoneName}}</p>
            </span>
</mat-card> <br>
</span> <br>
<span class="d-flex text-center zone">
        <mat-card class="status-bar" *ngFor="let zone of zoneData ;let i=index" [ngStyle]="getFillColor(i)">
            <span style="visibility:hidden">
                {{zone.zoneName}}
            </span>
</mat-card>
</span>

<br>

<div style="font-size:x-large" class="text-center" >
    <span><strong>Current Location : </strong> {{vehicleData.currentLocation?.coinName}}</span>
</div> <br>



<div class="mat-elevation-z8"  *ngIf="vehicleData.locations?.length">
    <table mat-table [dataSource]="dataSource" matSort class="table-md-responsive">
        <div>

            <ng-container matColumnDef="coinName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location </th>
                <td mat-cell *matCellDef="let vehicle"> {{vehicle.coinName}} </td>
            </ng-container>
            <ng-container matColumnDef="inTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>In Time</th>
                <td mat-cell *matCellDef="let vehicle"> {{vehicle.inTime | date : 'medium'}} </td>
            </ng-container>
            <ng-container matColumnDef="outTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Out Time </th>
                <td mat-cell *matCellDef="let vehicle">
                    <span *ngIf="vehicle.outTime != null"> {{vehicle.outTime | date : 'medium'}}</span>
                    <span *ngIf="vehicle.outTime == null"> -</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="totTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Time</th>
                <td mat-cell *matCellDef="let vehicle"> {{vehicle.totTime}} </td>
            </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>


<!-- </div> -->