<div class="row container-fluid">
  <div class="col-md-4">
    <form [formGroup]="selectLayoutForm">
      <mat-form-field>
        <mat-label>Layout</mat-label>
        <mat-select formControlName="layout" (selectionChange)="layoutSelect($event.value)">
          <mat-option *ngFor="let list of gatewayList" [value]="list">{{list.layout}}</mat-option>
        </mat-select>
        <mat-error>
          Select the layout
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    sdsd
  </div>
</div>

<div>
  <app-map type='edit'></app-map>
</div>

<br>

    <mat-card>
        <mat-card-title>Coin Configuration</mat-card-title>
        <mat-card-content>
              <mat-card>
                <mat-grid-list cols="2" rowHeight="2:1" class="list">
                  <mat-grid-tile>
                      <mat-card>
                          <mat-card-content>
                            <form [formGroup]="configCoinForm">
                              <mat-form-field>
                                <mat-label> Select Gateway </mat-label>
                                  <mat-select  fromControlName="gatewayName">
                                      <mat-option *ngFor="" [value]=""></mat-option>
                                  </mat-select>
                              </mat-form-field> <br>
                              <mat-form-field>
                                <mat-label>Select Coin</mat-label>
                                <mat-select  fromControlName="coinName">
                                    <mat-option *ngFor="" [value]=""></mat-option>
                                </mat-select>
                            </mat-form-field> <br>
                            <button mat-raised-button color="primary" [disabled]="!configCoinForm.valid" (click)="configCoin(configCoinForm.value, 'add')">Add</button>
                            <button mat-raised-button color="primary" [disabled]="!configCoinForm.valid" (click)="configCoin(configCoinForm.value, 'update')">Reallocate</button>
                            <button mat-raised-button color="primary" [disabled]="!configCoinForm.valid" (click)="configCoin(configCoinForm.value, 'delete')">Delete</button>
                          </form>
                          </mat-card-content>
                      </mat-card>
                  </mat-grid-tile>

                  <mat-grid-tile>
                      <table class="table bordered">
                        <thead>
                          <th>Coin ID</th>
                          <th>Coin Name</th>
                          <th>Zone Name</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>coin</td>
                            <td>Washing</td>
                          </tr>
                        </tbody>
                      </table>
                  </mat-grid-tile>
              </mat-grid-list>
              </mat-card>
        </mat-card-content>
    </mat-card> <br>

    <mat-card class="border-card">
      <mat-card-title>
        <mat-icon style="vertical-align: bottom;">add</mat-icon>&nbsp;Add New Layout
      </mat-card-title> <br>
      <mat-card-content>
          <mat-card>
            <form [formGroup]="newLocationForm" (ngSubmit)="createLocation(newLocationForm.value)">
              <mat-form-field appearance="outline" class="example-form">
                <mat-label>Gateway list</mat-label>
                <mat-select formControlName="gatewayId" > 
                  <ng-container *ngFor="let list of gatewayList">
                    <mat-option *ngIf="list.layout == selectedLayoutCoin.layout" [value]="list.gatewayId">{{list.name}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error>
                  Select the gateway
                </mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="outline"class="example-form">
                <mat-label>Location name</mat-label>
                <input type="text" matInput formControlName="locationName" required>
                <mat-error>
                  Location name is required
                </mat-error>
              </mat-form-field>
             
              <!-- <mat-form-field>
                <mat-label>Description</mat-label>
                <input type="text" matInput formControlName="description" required>
                <mat-error>
                  Description is required
                </mat-error>
              </mat-form-field> -->
             
              <input type="file" formControlName="map" required class="example-form">
              <br><br>
              <div class="btn">
                <button mat-raised-button [disabled]="!newLocationForm.valid" color="primary">Create Layout</button>
              </div>
               
          </form>
          </mat-card>
      </mat-card-content>
    </mat-card> <br>
    <mat-card>
      <mat-card-title>
        Add/Delete Coin
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="editLocationForm">
          <mat-form-field>
            <mat-label>Gateway list</mat-label>
            <mat-select formControlName="gatewayId" (selectionChange)="gatewaySelect($event.value)">
              <mat-option *ngFor="let list of gatewayList" [value]="list">{{list.name}}</mat-option>
            </mat-select>
            <mat-error>
              Select the gateway
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Coin list</mat-label>
            <mat-select formControlName="coinId" (selectionChange)="coinSelect($event.value)">
              <mat-option *ngFor="let list of coinList" [value]="list">{{list.coinName}}</mat-option>
            </mat-select>
            <mat-error>
              Select the gateway
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
