<button mat-button mat-dialog-close class="float-right">
    <mat-icon>clear</mat-icon>
</button>
<div *ngIf="type=='timeDelay'">
    <h1 mat-dialog-title *ngIf="deviceData?.length">Time Delay </h1>
    <div mat-dialog-content *ngIf="deviceData?.length;else nodata"
        class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form2">
            <table formArrayName="items" *ngIf="form2.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form2.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td>{{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Vehicle Name</mat-label>
                                <mat-select formControlName="deviceName">
                                    <mat-option [value]="a.get('deviceName').value">{{a.get('deviceName').value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Time delay</mat-label>
                                <input matInput type="number" formControlName="timeDelay" matInput required>
                                <mat-error>
                                    Please provide a valid time delay
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteTimeDelay(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                [disabled]="a.get('timeDelay').value == 0"
                                (click)="onSubmitTimeDelay(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>

    <ng-template #nodata>
        <br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>

<div *ngIf="type=='find-inactive'">
    <h1 mat-dialog-title *ngIf="deviceData?.length">Find Inactivity time </h1>
    <div mat-dialog-content *ngIf="deviceData?.length;else nodata"
        class="d-flex justify-content-around diagWrapper text-center">

        <form [formGroup]="form2">
            <table formArrayName="items" *ngIf="form2.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form2.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label> Device Id</mat-label>
                                <mat-select formControlName="deviceId">
                                    <mat-option [value]="a.get('deviceId').value">{{a.get('deviceId').value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Vehicle Name</mat-label>

                                <mat-select formControlName="deviceName">
                                    <mat-option [value]="a.get('deviceName').value">{{a.get('deviceName').value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Inactivity time</mat-label>
                                <input matInput type="number" formControlName="inActivityTime" matInput required>
                                <mat-error>
                                    Please provide a valid inActivity time
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-radio-group color="primary" formControlName="inactivityAlert">
                                <mat-radio-button class="example-radio-button" value="sms">SMS</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="email">Email</mat-radio-button>
                            </mat-radio-group><br>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteInactivityFind(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                [disabled]="(a.get('inactivityAlert').value == '') || a.get('inActivityTime').value == 0"
                                (click)="onSubmitInactivityFind(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata>
        <br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>

<div *ngIf="type=='coin'">
    <h1 mat-dialog-title *ngIf="coinData?.length">Coin Inactivity time </h1>
    <div mat-dialog-content *ngIf="coinData?.length;else nodata" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form1">
            <table formArrayName="items" *ngIf="form1.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form1.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label> Coin Id</mat-label>
                                <mat-select formControlName="coinId">
                                    <mat-option [value]="a.get('coinId').value">{{a.get('coinId').value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinName">
                                    <mat-option [value]="a.get('coinName').value">{{a.get('coinName').value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Inactivity time</mat-label>
                                <input matInput type="number" formControlName="inActivityTime" matInput required>
                                <mat-error>
                                    Please provide a valid inActivity time
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-radio-group color="primary" formControlName="inactivityAlert" required>
                                <mat-radio-button class="example-radio-button" value="sms">SMS</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="email">Email</mat-radio-button>
                            </mat-radio-group><br>
                        </td>
                        <td>
                            <mat-icon (click)="deleteInactivityCoin(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                [disabled]="a.get('inactivityAlert').value == ''  || a.get('inActivityTime').value == 0"
                                (click)="onSubmitInactivityCoin(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata>
        <br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>

<div *ngIf="type=='max-find'">
    <h1 mat-dialog-title *ngIf="coinData?.length">Maximum Find to assign for Coin</h1>
    <div mat-dialog-content *ngIf="coinData?.length;else nodata" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form1">
            <table formArrayName="items" *ngIf="form1.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form1.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinName">
                                    <mat-option [value]="a.get('coinName').value">{{a.get('coinName').value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid coin name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Maximun Find</mat-label>
                                <input type="number" formControlName="maxFindAsset" matInput required>
                                <mat-error>
                                    Please provide a valid Find number
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteMaxFindForm(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                [disabled]="a.get('maxFindAsset').value == 0"
                                (click)="onSubmitMaxFindForm(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata><br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>

<div *ngIf="type=='groupName'">
    <h1 mat-dialog-title *ngIf="groupData?.length"> Available Group Names</h1>
    <div mat-dialog-content *ngIf="groupData?.length;else nodata" class="d-flex justify-content-around diagWrapper">
        <form [formGroup]="form5">
            <table formArrayName="items" *ngIf="form5.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form5.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td><br>
                            <mat-form-field>
                                <mat-label>Group Name</mat-label>
                                <input type="text" formControlName="groupName" matInput required>
                                <mat-error *ngIf="a.get('groupName').value ==''">
                                    Group Name is required
                                </mat-error>
                                <mat-error *ngIf="a.get('groupName').value !='' || general.mismatch">
                                    No special characters are allowed. And group name cannot start/end with space(s).
                                </mat-error>
                            </mat-form-field> <br><br>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteGroup(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitGroup(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata><br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>

<div *ngIf="type=='zone'">
    <h1 mat-dialog-title *ngIf="zoneData?.length">Create Zone</h1>
    <div mat-dialog-content *ngIf="zoneData?.length;else nodata" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form3">
            <table formArrayName="items" *ngIf="form3.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form3.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td> <br>
                            <mat-form-field>
                                <mat-label>Zone Name</mat-label>
                                <input type="text" formControlName="zoneName" matInput required>
                                <mat-error *ngIf="a.get('zoneName').value ==''">
                                    ZoneName is required
                                </mat-error>
                                <mat-error *ngIf="a.get('zoneName').value !='' || general.mismatch">
                                    No special characters are allowed. And zone name cannot start/end with space(s).
                                </mat-error>
                            </mat-form-field><br><br>
                        </td><br>
                        <td>
                            <mat-form-field>
                                <mat-label> Standard Time</mat-label>
                                <input type="number" formControlName="standardTime" matInput required>
                                <mat-error>
                                    Please provide a valid standard time
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteZoneForm(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                [disabled]="a.get('standardTime').value == 0 || a.get('zoneName').value == ''"
                                (click)="onSubmitZoneForm(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata><br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>

<div *ngIf="type=='coinGrp'">
    <h1 mat-dialog-title *ngIf="coinDataTemp?.length">Group coin setting</h1>
    <div mat-dialog-content *ngIf="coinDataTemp?.length;else nodata"
        class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="groupForm">
            <table formArrayName="items" *ngIf="groupForm.get('items')['controls']?.length>0">
                <tr *ngFor="let a of groupForm.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinId" [compareWith]="compareFn" multiple>
                                    <mat-option *ngFor="let coin of coinData;let i= index"
                                        [disabled]="coin.groupId!=null?coin.groupId._id != a.get('groupId').value:false"
                                        [value]="coin">
                                        {{coin.coinName}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid coin name
                                </mat-error>
                                <nav></nav>
                            </mat-form-field>
                        </td>
                        <td class="w-25">
                            <span *ngFor="let b of  a.get('coinName')['controls'];let i=index;let last= last;">
                                <span *ngIf="!last">
                                    {{b.get('coinName').value}},
                                </span>
                                <span *ngIf="last">
                                    {{b.get('coinName').value}}.
                                </span>
                            </span>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Group Name</mat-label>
                                <mat-select formControlName="groupId" required>
                                    <mat-option *ngFor="let group of groupData" [value]="group._id">{{group.groupName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteGroupCoinForm(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitGroupCoinForm(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata><br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>


<div *ngIf="type=='coin-cat'">
    <h1 mat-dialog-title *ngIf="coinDataTemp?.length">Coin configuration</h1>
    <div mat-dialog-content *ngIf="coinDataTemp?.length;else nodata"
        class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="zoneForm">
            <table formArrayName="items" *ngIf="zoneForm.get('items')['controls']?.length>0">
                <tr *ngFor="let a of zoneForm.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinId" [compareWith]="compareFn" multiple>
                                    <mat-option *ngFor="let coin of coinData;let i= index"
                                        [disabled]="coin.zoneId!=null?coin.zoneId._id != a.get('zoneId').value:false"
                                        [value]="coin">
                                        {{coin.coinName}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid coin name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td class="w-25">
                            <span *ngFor="let b of  a.get('coinName')['controls'];let i=index;let last= last;">
                                <span *ngIf="!last">
                                    {{ b.get('coinName').value}},
                                </span>
                                <span *ngIf="last">
                                    {{ b.get('coinName').value}}.
                                </span>
                            </span>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Zone Name</mat-label>
                                <mat-select formControlName="zoneId" required>
                                    <mat-option *ngFor="let zone of zoneData" [value]="zone._id">{{zone.zoneName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid zone name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteCoinCategory(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSumbitCoinCategory(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata><br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>

<div *ngIf="type=='serviceType'">
    <h1 mat-dialog-title *ngIf="serviceData?.length">Service Type setting</h1>
    <div mat-dialog-content *ngIf="serviceData?.length;else nodata"
        class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form4">
            <table formArrayName="items" *ngIf="form4.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form4.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td><br>
                            <mat-form-field>
                                <mat-label>Service Name</mat-label>
                                <input type="text" matInput formControlName="serviceName" required>
                                <mat-error *ngIf="a.get('serviceName').value ==''">
                                    Service Name is required
                                </mat-error>
                                <mat-error *ngIf="a.get('serviceName').value !='' || general.mismatch">
                                    No special characters are allowed. And service name cannot start/end with space(s).
                                </mat-error>
                            </mat-form-field> <br><br>
                        </td>
                        <td class="w-25">
                            <span *ngFor="let b of  a.get('zoneName')['controls'];let i=index;let last= last;">
                                <span *ngIf="!last">{{b.get('zoneName').value}},</span>
                                <span *ngIf="last">{{b.get('zoneName').value}}.</span>
                            </span>

                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Zone Name</mat-label>
                                <mat-select formControlName="zoneId" required multiple [compareWith]="compareFn1">
                                    <mat-option *ngFor="let zone of zoneData" [value]="zone._id">{{zone.zoneName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid zone name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteServiceType(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitServiceType(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
    <ng-template #nodata><br>
        <table class="border">
            <tr>
                <td style="font-size: xx-large;" class="p-2">No Data</td>
            </tr>
        </table>
    </ng-template>
</div>