<button mat-button mat-dialog-close class="float-right">
    <mat-icon>clear</mat-icon>
</button>
<div *ngIf="type=='timeDelay'">
    <h1 mat-dialog-title>Time Delay </h1>
    <div mat-dialog-content *ngIf="deviceData" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form2">
            <table formArrayName="items" *ngIf="form2.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form2.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td>{{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Device Name</mat-label>
                                <input matInput type="text" formControlName="deviceName" matInput required>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Time delay</mat-label>
                                <input matInput type="number" formControlName="timeDelay" matInput required>
                                <mat-error>
                                    Please provide a valid time delay
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteTimeDelay(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitTimeDelay(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>

<div *ngIf="type=='find-inactive'">
    <h1 mat-dialog-title>Find Inactivity time </h1>
    <div mat-dialog-content *ngIf="deviceData" class="d-flex justify-content-around diagWrapper text-center">

        <form [formGroup]="form2">
            <table formArrayName="items" *ngIf="form2.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form2.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label> Device Id</mat-label>
                                <mat-select formControlName="deviceId">
                                    <mat-option [value]="a.get('deviceId').value">{{a.get('deviceId').value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Device Name</mat-label>
                                
                                <mat-select formControlName="deviceName">
                                    <mat-option [value]="a.get('deviceName').value">{{a.get('deviceName').value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Inactivity time</mat-label>
                                <input matInput type="number" formControlName="inActivityTime" matInput required>
                                <mat-error>
                                    Please provide a valid inActivity time
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-radio-group color="primary" formControlName="inactivityAlert">
                                <mat-radio-button class="example-radio-button" value="sms">SMS</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="email">Email</mat-radio-button>
                            </mat-radio-group><br>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteInactivityFind(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitInactivityFind(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>

<div *ngIf="type=='coin'">
    <h1 mat-dialog-title>Coin Inactivity time </h1>
    <div mat-dialog-content *ngIf="coinData" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form1">
            <table formArrayName="items" *ngIf="form1.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form1.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label> Coin Id</mat-label>
                                <mat-select formControlName="coinId">
                                    <mat-option [value]="a.get('coinId').value">{{a.get('coinId').value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinName">
                                    <mat-option [value]="a.get('coinName').value">{{a.get('coinName').value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Inactivity time</mat-label>
                                <input matInput type="number" formControlName="inActivityTime" matInput required>
                                <mat-error>
                                    Please provide a valid inActivity time
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-radio-group color="primary" formControlName="inactivityAlert">
                                <mat-radio-button class="example-radio-button" value="sms"
                                   >SMS</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="email"
                                  >Email</mat-radio-button>
                            </mat-radio-group><br>
                        </td>
                        <td>
                            <mat-icon (click)="deleteInactivityCoin(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitInactivityCoin(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>

<div *ngIf="type=='max-find'">
    <h1 mat-dialog-title>Maximum Find to assign for Coin</h1>
    <div mat-dialog-content *ngIf="coinData" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form1">
            <table formArrayName="items" *ngIf="form1.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form1.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinName">
                                    <mat-option [value]="a.get('coinName').value">{{a.get('coinName').value}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid coin name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Maximun Find</mat-label>
                                <input type="number" formControlName="maxFindAsset" matInput required>
                                <mat-error>
                                    Please provide a valid Find number
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteMaxFindForm(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitMaxFindForm(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>

<div *ngIf="type=='groupName'">
    <h1>Available Group Names</h1>
    <div mat-dialog-content *ngIf="groupData" class="d-flex justify-content-around diagWrapper">
        <form [formGroup]="form5">
            <table formArrayName="items" *ngIf="form5.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form5.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Group Name</mat-label>
                                <input type="text" formControlName="groupName" matInput required>
                                <mat-error>
                                    Please provide a valid group name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteGroup(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitGroup(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>

</div>

<div *ngIf="type=='zone'">
    <h1 mat-dialog-title>Create Zone</h1>
    <div mat-dialog-content *ngIf="zoneData" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form3">
            <table formArrayName="items" *ngIf="form3.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form3.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Zone Name</mat-label>
                                <input type="text" formControlName="zoneName" matInput required>
                                <mat-error>
                                    Please provide a valid zone name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Standard Time</mat-label>
                                <input type="number" formControlName="standardTime" matInput required>
                                <mat-error>
                                    Please provide a valid standard time
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteZoneForm(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitZoneForm(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>

<div *ngIf="type=='coinGrp'">
    <h1 mat-dialog-title>Group coin setting</h1>
    <div mat-dialog-content *ngIf="coinDataTemp" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="groupForm">
            <table formArrayName="items" *ngIf="groupForm.get('items')['controls']?.length>0">
                <tr *ngFor="let a of groupForm.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinId" [compareWith]="compareFn" multiple>
                                    <mat-option *ngFor="let coin of coinData;let i= index"
                                        [disabled]="reduce(coin,a.get('groupId').value,'group')" [value]="coin.coinId">
                                        {{coin.coinName}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid coin name
                                </mat-error> <nav></nav>
                            </mat-form-field>
                        </td>
                        <td class="w-25">
                            <span *ngFor="let b of  a.get('coinName')['controls']">
                                {{b.get('coinName').value}},
                            </span>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Group Name</mat-label>
                                <mat-select formControlName="groupId" required>
                                    <mat-option *ngFor="let group of groupData" [value]="group._id">{{group.groupName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteGroupCoinForm(a.value)" class="cursor">delete_forever
                            </mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitGroupCoinForm(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>


<div *ngIf="type=='coin-cat'">
    <h1 mat-dialog-title>Coin configuration</h1>
    <div mat-dialog-content *ngIf="coinDataTemp" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="zoneForm">
            <table formArrayName="items" *ngIf="zoneForm.get('items')['controls']?.length>0">
                <tr *ngFor="let a of zoneForm.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Coin Name</mat-label>
                                <mat-select formControlName="coinId" [compareWith]="compareFn" multiple>
                                    <mat-option *ngFor="let coin of coinData;let i= index"
                                        [disabled]="reduce(coin,a.get('zoneId').value,'zone')" [value]="coin.coinId">
                                        {{coin.coinName}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid coin name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td class="w-25">
                            <span *ngFor="let b of  a.get('coinName')['controls']">
                                {{b.get('coinName').value}},
                            </span>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Zone Name</mat-label>
                                <mat-select formControlName="zoneId" required>
                                    <mat-option *ngFor="let zone of zoneData" [value]="zone._id">{{zone.zoneName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid zone name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteCoinCategory(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSumbitCoinCategory(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>

<div *ngIf="type=='serviceType'">
    <h1 mat-dialog-title>Service Type setting</h1>
    <div mat-dialog-content *ngIf="serviceData" class="d-flex justify-content-around diagWrapper text-center">
        <form [formGroup]="form4">
            <table formArrayName="items" *ngIf="form4.get('items')['controls']?.length>0">
                <tr *ngFor="let a of form4.get('items')['controls']; let i=index;">
                    <ng-container [formGroupName]="i">
                        <td> {{i+1}}.&nbsp;&nbsp;</td>
                        <td>
                            <mat-form-field>
                                <mat-label>Service Name</mat-label>
                                <mat-select formControlName="serviceName">
                                    <mat-option [value]="a.get('serviceName').value">{{a.get('serviceName').value}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid service name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td class="w-25">
                            <span *ngFor="let b of  a.get('zoneName')['controls']">
                                {{b.get('zoneName').value}},
                            </span>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label> Zone Name</mat-label>
                                <mat-select formControlName="zoneId" required multiple [compareWith]="compareFn1">
                                    <mat-option *ngFor="let zone of zoneData" [value]="zone._id">{{zone.zoneName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    Please provide a valid zone name
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-icon matListIcon (click)="deleteServiceType(a.value)" class="cursor">delete_forever</mat-icon>
                        </td>
                        <td>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onSubmitServiceType(a.value)">Submit</button>
                        </td>
                    </ng-container>
                </tr>
            </table>
        </form>
    </div>
</div>