<mat-card>
    <button mat-button mat-dialog-close class="float-right">
        <mat-icon>clear</mat-icon>
    </button>
    
    <div *ngIf="type=='find'">
        <h1 mat-dialog-title class="text-center">Edit Find</h1>
    
        <div mat-dialog-content class="h-100 text-center">
            <form [formGroup]="editFind" (ngSubmit)="updateFind(editFind.value)">
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label> Device Name</mat-label>
                    <input type="text" matInput formControlName="deviceName" required>
                    <mat-error>
                        Device Name is required.
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label> Device Id</mat-label>
                    <input type="number" matInput min="1" formControlName="deviceId" disabled>
                    <mat-error></mat-error>
                </mat-form-field> <br>
                <button mat-raised-button [disabled]="!editFind.valid" color="primary">Submit</button>
            </form>
        </div>
    </div>
    
    <div *ngIf="type=='gateway'">
        <h1 mat-dialog-title class="text-center">Edit Gateway</h1>
    
        <div mat-dialog-content class="h-100 text-center">
            <form [formGroup]="editGateway" (ngSubmit)="updateGateway(editGateway.value)">
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label> Gateway Name</mat-label>
                    <input type="text" min="1" matInput formControlName="gatewayName" required>
                    <mat-error>
                        Gateway name is required.
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label> Gateway Id</mat-label>
                    <input type="text" matInput formControlName="gatewayId" disabled>
                    <mat-error></mat-error>
                </mat-form-field> <br>
                <button mat-raised-button [disabled]="!editGateway.valid" color="primary">Submit</button>
            </form>
        </div>
    </div>
    
    <div *ngIf="type=='coin'">
        <h1 mat-dialog-title class="text-center">Edit Coin</h1>
    
        <div mat-dialog-content class="h-100 text-center">
            <form [formGroup]="editCoin" (ngSubmit)="updateCoin(editCoin.value)">
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Coin Name</mat-label>
                    <input type="text" matInput formControlName="coinName" required>
                    <mat-error>
                        Coin Name is required.
                    </mat-error>
                </mat-form-field> <br>
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Coin Id</mat-label>
                    <input type="number" matInput formControlName="coinId" disabled>
                    <mat-error></mat-error>
                </mat-form-field> <br>
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label> Select Gateway Id</mat-label>
                    <mat-select formControlName="gatewayId">
                        <mat-option *ngFor="let b of gateway" [(value)]="b.gatewayId">
                            {{b.gatewayId}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Please select gateway Id.
                    </mat-error>
                </mat-form-field> <br>
                <button mat-raised-button [disabled]="!editCoin.valid" color="primary">Submit</button>
            </form>
        </div>
    </div>
</mat-card>