.map-container {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin: 30px;
    height: 36rem;
    width: 60rem;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  .leaflet-control-container {
    display: none;
}
.map-alternative {
 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #c32828;
  font-weight: 500;
}