
<button mat-button mat-dialog-close style="float: right;z-index: 999;"><mat-icon>clear</mat-icon></button> 
<div style="text-align: center;margin-left: 4rem;"><h1>Contact Details</h1> </div> <hr> 
<mat-card>
    <mat-card-content>
        <form [formGroup]= "contactForm" (ngSubmit)="onSubmit(contactForm.value)">
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput type="email"  formControlName="email">
            </mat-form-field> <br>
    
            <mat-form-field appearance="outline">
                <input type="text" matInput formControlName="mobileNumber" style="display: none;">
                <div class="wrapper">
                    <ngx-intl-tel-input [cssClass]="'custom'" matInput
                        [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectFirstCountry]="true"
                        [selectedCountryISO]="CountryISO.India"
                        [maxLength]="15"
                        [tooltipField]="TooltipLabel.Name"
                        [phoneValidation]="true"
                        [separateDialCode]="false"
                        name="mobileNumber"
                        formControlName="mobileNumber">
                    </ngx-intl-tel-input>
                   
                 
                </div>
                <mat-error *ngIf="contactForm.get('mobileNumber').status=='INVALID' && contactForm.get('mobileNumber').touched==true" class="error" >
                    Please provide valid mobile number
                  </mat-error>
            </mat-form-field>
            <div class="btn">
                <span><button  mat-raised-button [disabled]="!contactForm.valid">Submit</button></span>
            </div>
        </form>
    </mat-card-content>
</mat-card>
