<div class="report">

    <!-- <mat-card>
        <mat-card-title> Select DateTime Format.</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="dateTimeForm" (ngSubmit)="onSubmitDateTime(dateTimeForm.value)">
                <mat-form-field >
                    <mat-label>DateTime Format</mat-label>
                    <mat-select formControlName="dateTimeFormat">
                        <mat-option value="DD-MM-YYYY HH:mm:ss">DD-MM-YYYY HH:mm:ss</mat-option>
                        <mat-option value="DD/MM/YYYY HH:mm:ss">DD/MM/YYYY HH:mm:ss</mat-option>
                        <mat-option value="MM-DD-YYYY HH:mm:ss">MM-DD-YYYY HH:mm:ss</mat-option>
                        <mat-option value="MM/DD/YYYY HH:mm:ss">MM/DD/YYYY HH:mm:ss</mat-option>
                        <mat-option value="YYYY-MM-DD HH:mm:ss">YYYY-MM-DD HH:mm:ss </mat-option>
                        <mat-option value="YYYY/MM/DD HH:mm:ss">YYYY/MM/DD HH:mm:ss </mat-option>
                      </mat-select>
                </mat-form-field> <br>
                <button class="btn" mat-raised-button [disabled]="!dateTimeForm.valid" color="primary">submit</button>
            </form>
        </mat-card-content>
    </mat-card> -->


    <mat-card>
        <mat-card-title> Select Range</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        
        <mat-card-content>
            <form [formGroup]="distanceForm" (ngSubmit)="onSubmitDistanceForm(distanceForm.value)">
                <mat-form-field>
                    <mat-label>In feet</mat-label>
                    <mat-select formControlName="range">
                        <mat-option *ngFor="let feet of feetValue" [value]="feet">{{feet}}</mat-option>
                    </mat-select>
                </mat-form-field> <br> 
          
                <button class="btn" mat-raised-button [disabled]="!distanceForm.valid" color="primary">submit</button>
            </form>
        </mat-card-content>

    </mat-card>


    <mat-card>
        <mat-card-title> Set Time Delay for assets</mat-card-title> <br>
        <mat-card-content>
            <form [formGroup]="timeDelay" id="time" (ngSubmit)="onSubmitTimeDelay(timeDelay.value)">
        
                <mat-form-field>
                    <mat-label>Select Asset</mat-label>
                    <mat-select formControlName="deviceId" multiple >
                        <mat-option #allSelected (click)="toggleAllSelectionDevice(timeDelay)" [value]="0">All</mat-option>
                        <mat-option *ngFor="let find of deviceData" [value]="find.deviceId">{{find.deviceName}}</mat-option>
                    </mat-select>
                </mat-form-field> <br> 
                <mat-form-field>
                    <mat-label>Enter time delay</mat-label>
                    <input type="time" matInput formControlName="timedelay" required>
                </mat-form-field> <br>  
                <div class="btn-set ">
                    <button mat-raised-button [disabled]="!timeDelay.valid" color="primary">submit</button>
                    <button mat-raised-button (click)="openInfo('find')" color="primary">Info</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Select Maximum finds to be assigned</mat-card-title>
        <mat-card-content>
            <form [formGroup]="maxFindForm" (ngSubmit)="onSubmitMaxFindForm(maxFindForm.value)">
                <mat-form-field>
                    <mat-label>Select Asset</mat-label>
                    <mat-select formControlName="deviceId" multiple>
                        <mat-option #allSelected1 (click)="toggleAllSelectionDevice1(maxFindForm)" [value]="0">All</mat-option>
                        <mat-option *ngFor="let find of deviceData" [value]="find.deviceId">{{find.deviceName}}</mat-option>
                    </mat-select>
                </mat-form-field> <br> 
                <mat-form-field>
                    <mat-label>Set maximum number of finds to assign</mat-label>
                    <input type="number" matInput formControlName="maxLimit" required>
                </mat-form-field> <br>
                <div class="btn-set">
                    <button mat-raised-button [disabled]="!maxFindForm.valid" color="primary">submit</button>
                    <button mat-raised-button (click)="openInfo('max-find')" color="primary">Info</button>
                </div>            
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title> Select Inactivity Time for Finds</mat-card-title>  <br>

        <mat-card-content>
            <form [formGroup]="inactivityFind" (ngSubmit)="onSubmitInactivityFind(inactivityFind.value)">
          
                <mat-radio-group  color="primary" formControlName="alert" >
                    <mat-label>Alert through :</mat-label>
                    <mat-radio-button class="example-radio-button"  value="sms">SMS</mat-radio-button> 
                    <mat-radio-button class="example-radio-button"  value="email">Email</mat-radio-button>
                </mat-radio-group><br>
                <mat-form-field>
                    <mat-label>Select Asset</mat-label>
                    <mat-select formControlName="deviceId" multiple>
                        <mat-option #allSelected2 (click)="toggleAllSelectionDevice2(inactivityFind)" [value]="0">All</mat-option>
                        <mat-option *ngFor="let find of deviceData" [value]="find.deviceId">{{find.deviceName}}</mat-option>
                    </mat-select>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Enter inactivity Time</mat-label>
                    <input type="number" matInput formControlName="inactivitytime" placeholder="in Minutes" required>
                </mat-form-field> <br> 
                <div class="btn-set">
                    <button mat-raised-button [disabled]="!inactivityFind.valid" color="primary">submit</button>
                    <button mat-raised-button (click)="openInfo('find-inactive')" color="primary">Info</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>



    <mat-card>
        <mat-card-title> Select Inactivity Time For Coins</mat-card-title> <br>

        <mat-card-content>
            <form [formGroup]="inactivityCoin" (ngSubmit)="onSubmitInactivityCoin(inactivityCoin.value)">
         
                <mat-radio-group  color="primary" formControlName="alert" >
                    <mat-label>Alert through :</mat-label> 
                    <mat-radio-button class="example-radio-button"  value="sms">SMS</mat-radio-button> 
                    <mat-radio-button class="example-radio-button"  value="email">Email</mat-radio-button>
                </mat-radio-group> <br>
                <mat-form-field>
                    <mat-label>Select Coin</mat-label>
                    <mat-select formControlName="coinId" multiple>
                        <mat-option #allSelected3 (click)="toggleAllSelectionCoin(inactivityCoin)" [value]="0">All</mat-option>
                        <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">{{coin.coinName}}</mat-option>
                    </mat-select>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Enter inactivity Time</mat-label>
                    <input type="number" matInput formControlName="inactivitytime" placeholder="in Minutes" required>
                </mat-form-field> <br> 
                <div class="btn-set">
                    <button mat-raised-button [disabled]="!inactivityCoin.valid" color="primary">submit</button>
                    <button mat-raised-button (click)="openInfo('coin')" color="primary">Info</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>



    <mat-card>
        <mat-card-title> Select Category for Coins</mat-card-title>
        <mat-card-content>
            <form [formGroup]="coinCategory" (ngSubmit)="onSumbitCoinCategory(coinCategory.value)">
                <mat-form-field>
                    <mat-label>Select Coin</mat-label>
                    <mat-select formControlName="coinId" multiple>
                        <mat-option #allSelected4 (click)="toggleAllSelectionCoin1(coinCategory)" [value]="0">All</mat-option>
                        <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">{{coin.coinName}}</mat-option>
                    </mat-select>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Select category</mat-label>
                    <mat-select formControlName="category">
                      <mat-option value="Asset Name wise report">Asset Name wise report </mat-option>
                      <mat-option value="Asset ID wise report ">Asset ID wise report </mat-option>
                      <mat-option value="Location wise report">Location wise report</mat-option>
                      <mat-option value="Zone wise report">Zone wise report</mat-option>
                      <mat-option value="Average Zone wise performance"> Average Zone wise performance </mat-option>
                      <mat-option value="Average Zone wise performance per day">Average Zone wise performance per day</mat-option>
                      <mat-option value="Average Zone wise Efficiency">Average Zone wise Efficiency </mat-option>
                      <mat-option value="Average Zone wise Efficiency per day">Average Zone wise Efficiency per day </mat-option>
                      <mat-option value="Number of vehicles serviced">Number of vehicles serviced </mat-option>
                      <mat-option value="Avg. Time taken by Bays">Avg. Time taken by Bays - can be renamed as Average Bay Performance</mat-option>
                      <mat-option value="Vehicle and JC wise report">Vehicle and JC wise report</mat-option>
                    </mat-select>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Enter Standard time for the zone</mat-label>
                    <input type="number" matInput formControlName="minutes" placeholder="in Minutes" required>
                </mat-form-field> <br> <br>
                <div class="btn-set">
                    <button mat-raised-button [disabled]="!coinCategory.valid" color="primary">submit</button>
                    <button mat-raised-button (click)="openInfo('coin-cat')" color="primary">Info</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Select zone category</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>

        <mat-card-content>
            <form [formGroup]="zoneForm" (ngSubmit)="onSubmitZoneForm(zoneForm.value)">
                <mat-form-field>
                    <mat-label>Enter name for Zone</mat-label>
                    <input matInput type="text" formControlName="zoneName" required>         
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Enter Standard time for the zone</mat-label>
                    <input type="number" matInput formControlName="standardtime" placeholder="in Minutes" required>
                </mat-form-field> <br>
                <div class="btn-set">
                    <button mat-raised-button [disabled]="!zoneForm.valid" color="primary">submit</button>
                    <button mat-raised-button (click)="openInfo('zone')" color="primary">Info</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Select Group for Coins</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="groupCoinForm" (ngSubmit)="onSubmitGroupCoinForm(groupCoinForm.value)">
                <mat-form-field>
                    <mat-label>Select Coin</mat-label>
                    <mat-select formControlName="coinId" multiple>
                        <mat-option #allSelected5 (click)="toggleAllSelectionCoin2(groupCoinForm)" [value]="0">All</mat-option>
                        <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">{{coin.coinName}}</mat-option>
                    </mat-select>
                </mat-form-field> <br>
                <mat-form-field>
                    <mat-label>Enter group name</mat-label>
                    <input type="text" matInput formControlName="group"  required>
                </mat-form-field> <br>
                <div class="btn-set">
                    <button mat-raised-button [disabled]="!groupCoinForm.valid" color="primary">submit</button>
                    <button mat-raised-button (click)="openInfo('coinGrp')" color="primary">Info</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>