
mat-card.mat-card.mat-focus-indicator {
    width: 30%;
    margin: 1rem;
}

mat-card-title{
    font-size: large;
    color: #002060;
}

button.mat-focus-indicator.mat-raised-button.mat-button-base.btn {
    position: absolute;
    bottom: 1rem;
    right: 7rem;
}

@media only screen and (max-width: 768px) {
    mat-card.mat-card.mat-focus-indicator {
         width: 100%;
         margin: 1rem;
     }
     button.mat-focus-indicator.mat-raised-button.mat-button-base.btn {
        position: unset;
     
    }

}