<div class="container-fluid">
    <div>
        <mat-card class="text-center w-25">
            <mat-card-title>Congestion</mat-card-title>
            <mat-card-content>
                <form [formGroup]="congestionForm">
                    <mat-form-field>
                        <mat-label>Date</mat-label>
                        <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="myDatepicker" formControlName="date" autocomplete="off" required>
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                        <mat-error>
                            Please provide a valid date
                        </mat-error>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>From time</mat-label>
                        <input type='time' matInput placeholder="From time" formControlName="fromTime" required>
                        <mat-icon matPrefix>schedule</mat-icon>
                        <mat-error>
                            Please provide a valid from time
                        </mat-error>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>To time</mat-label>
                        <input type='time' matInput placeholder="To time" formControlName="toTime" required>
                        <mat-icon matPrefix>schedule</mat-icon>
                        <mat-error>
                            Please provide a valid to time
                        </mat-error>
                    </mat-form-field>
                </form>
                <div class="d-md-flex justify-content-md-around">
                    <button mat-raised-button color="primary" [disabled]="!congestionForm.valid" (click)="onSubmit(congestionForm.value)">Search</button>
                    <button mat-raised-button color="primary" (click)="destroy()">Clear</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div> <br>


    <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>