/* mat-sidenav:not(.mat-drawer-opened) div.leftNav div.navProfile img {
    width: 40px; margin: 16px 0 0px 0;
  }
  mat-sidenav:not(.mat-drawer-opened) .navTitle,
  mat-sidenav:not(.mat-drawer-opened) .profileTitle {
    display: none;
  }
  mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 60px !important;
    overflow: hidden;
  } */
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
.image{
    width: 150px;
    margin-top: 3px;
    margin-left: 26px;
  }


  mat-icon  {
    vertical-align: sub;
  }
  .example-sidenav-content {
    height: auto;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
     border: none;
     background-color: #002060;
     display: block;
     color: white;
     width: 280px;
     min-width: fit-content;
  }

  .mat-list-item{
    font-size: 18px;
    margin-top: 10px;
  }
  mat-list-item,.mat-list-item-content{
    color: white !important;
    
  }
  mat-expansion-panel.mat-expansion-panel {
    background-color: #002060;
    color: white;
    border: none;
  }
  mat-list-item:hover{
    color: whitesmoke !important;
    background-color:gray;   
  }
  mat-toolbar{
    height: 10.5%;
  }

  .list{
    margin-left: 3rem;
  }

  @media only screen and (max-width: 768px) {
   
      .mat-mini-fab{
        background:#002060 ;
      }
        button.mat-menu-item, .mat-icon{ 
          color: white !important;
          border: none;
    }    
  }