<mat-accordion>
    <!-- ----------------------------Devices----------------------------------- -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Devices
            </mat-panel-title>
        
        </mat-expansion-panel-header>
        <div  class="mat-elevation-z8">
            <table  mat-table [dataSource]="dataSource0" matSort #sort1="matSort">
                <div>
                    <ng-container matColumnDef="i">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
                        <td mat-cell *matCellDef="let i=index" > {{i+1}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="deviceId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Device ID </th>
                        <td mat-cell *matCellDef="let find" > {{find.id}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="deviceName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Name </th>
                        <td mat-cell *matCellDef="let find" > {{find.coinId}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="updatedOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time </th>
                        <td mat-cell *matCellDef="let find" > {{find.updatedOn  | date : 'medium'}} </td>
                    </ng-container>   
                </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;" ></tr>
            </table>
            <mat-paginator #paginator1  pageSize="10" [pageSizeOptions] = "[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-expansion-panel>

    <!-- --------------------------------gateway--------------------------------------- -->
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
            Gateways
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div  class="mat-elevation-z8">
            <table  mat-table [dataSource]="dataSource1" matSort #sort2="matSort">
                <div>
                    <ng-container matColumnDef="i">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
                        <td mat-cell *matCellDef="let i=index" > {{i+1}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="gatewayName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway Name </th>
                        <td mat-cell *matCellDef="let gateway" > {{gateway.gatewayName}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="gatewayId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway Id </th>
                        <td mat-cell *matCellDef="let gateway" > {{gateway.gatewayId}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="updatedOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                        <td mat-cell *matCellDef="let gateway" > {{gateway.updatedOn  | date : 'medium'}} </td>
                    </ng-container>   
                </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;" ></tr>
            </table>
            <mat-paginator #paginator2   pageSize="10" [pageSizeOptions] = "[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div> 
    </mat-expansion-panel>

    <!-- ---------------------Coins------------------------------- -->
    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
           Coins
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div  class="mat-elevation-z8">
            <table  mat-table [dataSource]="dataSource2" matSort #sort3="matSort">
                <div>
                    <ng-container matColumnDef="i">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
                        <td mat-cell *matCellDef="let i=index" > {{i+1}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="coinId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin ID </th>
                        <td mat-cell *matCellDef="let coin" > {{coin.coinId}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="coinName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin Name </th>
                        <td mat-cell *matCellDef="let coin" > {{coin.coinName}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="gatewayId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway Id </th>
                        <td mat-cell *matCellDef="let coin" > {{coin.gatewayId}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="updatedOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                        <td mat-cell *matCellDef="let coin" > {{coin.updatedOn  | date : 'medium'}} </td>
                    </ng-container>   
  
                </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;" ></tr>
            </table>
            <mat-paginator #paginator3   pageSize="10" [pageSizeOptions] = "[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-expansion-panel>
</mat-accordion>