button.mat-focus-indicator.mat-raised-button.mat-button-base{
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color:rgb(97, 163, 194);
    border: none;
    color: white;
}
mat-card.mat-card.mat-focus-indicator {
    width: 100%;
    margin: 2rem 1rem 0 1rem;
    height: 1005
}
.flex{
  display: flex
}
.example-full-width{
  width: -webkit-fill-available;
}
th.mat-header-cell {
  text-align: center !important;
}
mat-card-title{
    text-align: center;
    font-size: large;
    color: #002060;
}
hr{
    width: 12rem;
}
@media (max-width: 575.98px) {
    .mat-card{
      width: 100% !important;
    }
    .mat-tab-group{
      margin-left: 1%;
      width: 100%;
      margin-top: 1%;
    
    }
    .mat-table{
      width: 500px;
    }
    .rounded-circle{
      margin-right: 20px;
    }  
}
    