<br>
<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-7">
            <mat-card class="flex">
                <!-- <mat-progress-spinner
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    [value]="100">
                </mat-progress-spinner>
                <mat-progress-spinner
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    [value]="100">
                </mat-progress-spinner>
                 <mat-progress-spinner
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    [value]="100">
                </mat-progress-spinner>
                <mat-progress-spinner
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    [value]="100">
                </mat-progress-spinner>
                <mat-progress-spinner
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    [value]="100">
                </mat-progress-spinner> -->
                <div >
                    <!-- Active<br> -->
                    <circle-progress
                      class="circle"
                      [percent]="100"
                      [maxPercent]="1000"
                      [showUnits]="false"
                      [showBackground] = "true"
                      [backgroundColor]= "'#002060'"
                      [outerStrokeColor] = "'#ffffff'"
                      [outerStrokeWidth] = 6
                      [showInnerStroke] = false
                      [radius] = 60
                      [titleColor] = "'#ffffff'"
                      [showSubtitle] = false
                      [backgroundPadding] = 5
                      [animation]="true"
                      [animationDuration]="500"
                      [startFromZero]="true"
                      [responsive]="false"
                    ></circle-progress>
      
                </div>
                <div >
                    <!-- Active<br> -->
                    <circle-progress
                      class="circle"
                      [percent]="100"
                      [maxPercent]="1000"
                      [showUnits]="false"
                      [showBackground] = "true"
                      [backgroundColor]= "'#002060'"
                      [outerStrokeColor] = "'#ffffff'"
                      [outerStrokeWidth] = 6
                      [showInnerStroke] = false
                      [radius] = 60
                      [titleColor] = "'#ffffff'"
                      [showSubtitle] = false
                      [backgroundPadding] = 5
                      [animation]="true"
                      [animationDuration]="500"
                      [startFromZero]="true"
                      [responsive]="false"
                    ></circle-progress>
      
                </div>
               <div >
                    <!-- Active<br> -->
                    <circle-progress
                      class="circle"
                      [percent]="100"
                      [maxPercent]="1000"
                      [showUnits]="false"
                      [showBackground] = "true"
                      [backgroundColor]= "'#002060'"
                      [outerStrokeColor] = "'#ffffff'"
                      [outerStrokeWidth] = 6
                      [showInnerStroke] = false
                      [radius] = 60
                      [titleColor] = "'#ffffff'"
                      [showSubtitle] = false
                      [backgroundPadding] = 5
                      [animation]="true"
                      [animationDuration]="500"
                      [startFromZero]="true"
                      [responsive]="false"
                    ></circle-progress>
      
                </div>
               <div >
                    <!-- Active<br> -->
                    <circle-progress
                      class="circle"
                      [percent]="100"
                      [maxPercent]="1000"
                      [showUnits]="false"
                      [showBackground] = "true"
                      [backgroundColor]= "'#002060'"
                      [outerStrokeColor] = "'#ffffff'"
                      [outerStrokeWidth] = 6
                      [showInnerStroke] = false
                      [radius] = 60
                      [titleColor] = "'#ffffff'"
                      [showSubtitle] = false
                      [backgroundPadding] = 5
                      [animation]="true"
                      [animationDuration]="500"
                      [startFromZero]="true"
                      [responsive]="false"
                    ></circle-progress>
      
                </div> 
                <div >
                    <!-- Active<br> -->
                    <circle-progress
                      class="circle"
                      [percent]="100"
                      [maxPercent]="1000"
                      [showUnits]="false"
                      [showBackground] = "true"
                      [backgroundColor]= "'#002060'"
                      [outerStrokeColor] = "'#ffffff'"
                      [outerStrokeWidth] = 6
                      [showInnerStroke] = false
                      [radius] = 60
                      [titleColor] = "'#ffffff'"
                      [showSubtitle] = false
                      [backgroundPadding] = 5
                      [animation]="true"
                      [animationDuration]="500"
                      [startFromZero]="true"
                      [responsive]="false"
                    ></circle-progress>
      
                </div>
            </mat-card>
        </div>
    
        <div class="col-md-5">
            <mat-card>
                <mat-card-title class="head">Recent Top 10 Active And Geofence Status</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>





<!-- <div class="flex" >
    <mat-card class="progress">
      <div class="row">

    <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="100">
    </mat-progress-spinner>

    <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="100">
  </mat-progress-spinner>
  <mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="100">
  </mat-progress-spinner>
  
  <mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="100">
  </mat-progress-spinner>
  
  
  
  <mat-progress-spinner
  class="example-margin"
  [color]="color"
  [mode]="mode"
  [value]="100">
  </mat-progress-spinner>
  
      </div>
  
  
  
    </mat-card>
   <mat-card >
      Recent Status top 10 activity from Geofence DashBoard
    </mat-card>
  </div>
  
  
  <mat-card  class="">
    <h2>Live Monitor DashBoard</h2>
        <mat-radio-group >
          <mat-radio-button class="example-margin" value="after">Overall view</mat-radio-button>
          <mat-radio-button class="example-margin" value="before">Overview</mat-radio-button>
        </mat-radio-group>
   
      <br>
     <button mat-button  routerLink="/livedata" >Live Data</button>
  
  </mat-card> -->
  
