<br>
<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-12">
            <mat-card class="flex">
              <table>
                <thead class="thead">
                  <th>Vehicle for <br>  Service Today</th>
                  <th>Vehicle Under <br>  Service</th>
                  <th>Serviced Vehicle</th>
                  <th>OverAll Efficiency<br>  of the SC</th>
                </thead>
                <tbody>
                  <td class="circle-disp">
                    <div>
                        <circle-progress
                          class="circle"
                          [percent]="50"
                          [maxPercent]="1000"
                          [showUnits]="false"
                          [showBackground] = "true"
                          [backgroundColor]= "'#002060'"
                          [outerStrokeColor] = "'#ffffff'"
                          [outerStrokeWidth] = 6
                          [showInnerStroke] = false
                          [radius] = 60
                          [titleColor] = "'#ffffff'"
                          [showSubtitle] = false
                          [backgroundPadding] = 5
                          [animation]="true"
                          [animationDuration]="500"
                          [startFromZero]="true"
                          [responsive]="false"
                        ></circle-progress>
          
                    </div>
                  </td>
                  <td class="circle-disp">
                    <div >
                        <circle-progress
                          class="circle"
                          [percent]="100"
                          [maxPercent]="1000"
                          [showUnits]="false"
                          [showBackground] = "true"
                          [backgroundColor]= "'#002060'"
                          [outerStrokeColor] = "'#ffffff'"
                          [outerStrokeWidth] = 6
                          [showInnerStroke] = false
                          [radius] = 60
                          [titleColor] = "'#ffffff'"
                          [showSubtitle] = false
                          [backgroundPadding] = 5
                          [animation]="true"
                          [animationDuration]="500"
                          [startFromZero]="true"
                          [responsive]="false"
                        ></circle-progress>
          
                    </div>
                  </td>
                  <td class="circle-disp">
                    <div >
                        <circle-progress
                          class="circle"
                          [percent]="50"
                          [maxPercent]="1000"
                          [showUnits]="false"
                          [showBackground] = "true"
                          [backgroundColor]= "'#002060'"
                          [outerStrokeColor] = "'#ffffff'"
                          [outerStrokeWidth] = 6
                          [showInnerStroke] = false
                          [radius] = 60
                          [titleColor] = "'#ffffff'"
                          [showSubtitle] = false
                          [backgroundPadding] = 5
                          [animation]="true"
                          [animationDuration]="500"
                          [startFromZero]="true"
                          [responsive]="false"
                        ></circle-progress>
          
                    </div>
                  </td>
                  <td class="circle-disp">
                    <div >
                        <circle-progress
                          class="circle"
                          [percent]="100"
                          [maxPercent]="1000"
                          [showUnits]="false"
                          [showBackground] = "true"
                          [backgroundColor]= "'#002060'"
                          [outerStrokeColor] = "'#ffffff'"
                          [outerStrokeWidth] = 6
                          [showInnerStroke] = false
                          [radius] = 60
                          [titleColor] = "'#ffffff'"
                          [showSubtitle] = false
                          [backgroundPadding] = 5
                          [animation]="true"
                          [animationDuration]="500"
                          [startFromZero]="true"
                          [responsive]="false"
                        ></circle-progress>
          
                    </div>
                  </td>
                </tbody>
              </table>
              <div > <br>
                <mat-card>
                  <mat-card-content>Least Performing zone</mat-card-content>
                </mat-card> <br>
                <mat-card>
                  <mat-card-content>High Congestion zone</mat-card-content>
                </mat-card> 
              </div>
 
            </mat-card>
        </div>
  </div>
  <br>  
  <div class="row">
    <app-map type='live'></app-map>
  </div>
  <div class="row">
    <div class="col-md-6">
        <mat-card>
          <mat-card-content>
              <table class="table bordered table-striped">
                  <thead class="thead-dark">
                      <tr>
                        <th>Zone</th>
                        <th>No. of Vehicles</th>
                        <th>Avg. Time</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Job card</td>
                      <td>10</td>
                      <td>{{date | date:'medium'}}</td>
                    </tr>
                  </tbody>
              </table>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card class="chart">
          <mat-card-content>
            <div id="line" style="height: 300px; width: 450px;border: 1px solid beige;"></div>
          </mat-card-content>
        </mat-card>
    </div>
  <br>

</div>


  
