<br>
<div>

    <div class="container-fluid">
        <mat-card>
            <div class="row pl-md-4 pr-md-4 text-center">
                <div class="col-md-2">
                    <h2>Vehicle for Service Today</h2>
                    <circle-progress class="circle" [percent]="50" [maxPercent]="1000" [showUnits]="false" [showBackground]="true" [backgroundColor]="'#002060'" [outerStrokeColor]="'#ffffff'" [outerStrokeWidth]=6 [showInnerStroke]=false [radius]=60 [titleColor]="'#ffffff'"
                        [showSubtitle]=false [backgroundPadding]=5 [animation]="true" [animationDuration]="500" [startFromZero]="true" [responsive]="true"></circle-progress>
                </div>
                <div class="col-md-2">
                    <h2>Vehicle Under Service</h2>
                    <circle-progress class="circle" [percent]="50" [maxPercent]="1000" [showUnits]="false" [showBackground]="true" [backgroundColor]="'#002060'" [outerStrokeColor]="'#ffffff'" [outerStrokeWidth]=6 [showInnerStroke]=false [radius]=60 [titleColor]="'#ffffff'"
                        [showSubtitle]=false [backgroundPadding]=5 [animation]="true" [animationDuration]="500" [startFromZero]="true" [responsive]="true"></circle-progress>
                </div>
                <div class="col-md-2">
                    <h2>Serviced Vehicle</h2>
                    <circle-progress class="circle" [percent]="50" [maxPercent]="1000" [showUnits]="false" [showBackground]="true" [backgroundColor]="'#002060'" [outerStrokeColor]="'#ffffff'" [outerStrokeWidth]=6 [showInnerStroke]=false [radius]=60 [titleColor]="'#ffffff'"
                        [showSubtitle]=false [backgroundPadding]=5 [animation]="true" [animationDuration]="500" [startFromZero]="true" [responsive]="true"></circle-progress>
                </div>
                <div class="col-md-3">
                    <h2>OverAll Efficiency of the SC</h2>
                    <circle-progress class="circle" [percent]="50" [maxPercent]="1000" [showUnits]="false" [showBackground]="true" [backgroundColor]="'#002060'" [outerStrokeColor]="'#ffffff'" [outerStrokeWidth]=6 [showInnerStroke]=false [radius]=60 [titleColor]="'#ffffff'"
                        [showSubtitle]=false [backgroundPadding]=5 [animation]="true" [animationDuration]="500" [startFromZero]="true" [responsive]="true"></circle-progress>
                </div>
                <div class="col-md-3">
                    <mat-card>
                        <mat-card-content>Least Performing zone</mat-card-content>
                    </mat-card> <br>
                    <mat-card>
                        <mat-card-content>High Congestion zone</mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>

    <br>
    <div>
        <div class="flex">
            <div>
                <form>
                    <mat-form-field>
                        <mat-label>Vehicle number</mat-label>
                        <input matInput type='search' (keyup)="searchVehicle($event.target.value)">
                        <mat-hint class="align-items-start"><strong>Search using vehicle number</strong> </mat-hint>
                    </mat-form-field>
                </form>
                <p class="error" *ngIf="errStatus.searchError">{{errStatus.searchMessage}}</p>
            </div>
            <div>
                <mat-icon class="cursor" (click)="getZones()">autorenew</mat-icon>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="map-container">
            <div class="map-frame">
                <div id="map" #mapId></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <mat-card *ngIf="!zoneClickStatus.status">
                    <mat-card-content>
                        <table class="table bordered table-striped table-md-responsive text-center ">
                            <thead class="thead-dark font-weight-bold">
                                <tr>
                                    <th>Zone</th>
                                    <th>No. of Vehicles</th>
                                    <th>Avg. Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cursor" *ngFor="let a of zoneList; let i = index" (click)="zoneClick(a)" [ngClass]='a.highlight ? "selected" : "not-selected"'>
                                    <td>{{a.zoneName}}</td>
                                    <td>{{a.vehicleCount}}</td>
                                    <td>{{a.avgTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                </mat-card>
                <mat-card *ngIf="zoneClickStatus.status">
                    <mat-card-title>
                        {{zoneClickStatus.zone}}
                    </mat-card-title>
                    <mat-card-content>
                        <table *ngIf="deviceGroupList.length" class="table bordered table-striped table-md-responsive text-center ">
                            <thead class="thead-dark font-weight-bold">
                                <tr>
                                    <th>Vehicle</th>
                                    <th>Location</th>
                                    <th>SDT</th>
                                    <th>EDT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of deviceGroupList; let i = index" (click)="vehicleStatus(a)" class="cursor">
                                    <ng-container >

                                        <td>{{a.deviceName}}</td>
                                        <td>{{a.coinName}}</td>
                                        <td>{{getSDT(a) | date : 'medium'}}</td>
                                        <td>{{getEDT(a) | date : 'medium'}}</td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!deviceGroupList.length" class="nodata">
                            No data found
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <mat-card-content>
                        <div id="line"></div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>