.flex{
    display: flex;
    justify-content: space-around;
}

.head{
    font-size: large;
    text-align: center;
}
::ng-deep svg.circle {
    height: 120px !important;
    width: 120px !important;

}
th, td{
    text-align: center;
    padding-left: 1rem;
    font-weight: 500;
}
.circle-disp{
    text-align: center;
    padding: 0 2rem 0 2rem;
}

table{
   max-width: 100%;
   margin: 0%;
}

.chart{
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.map-container {
    /* position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; */
    margin: 30px;
    height: 36rem;
    width: 60rem;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  .leaflet-control-container {
    display: none;
  }