/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor {
    cursor: pointer;
}

table.mat-table {
    width: 100%;
    margin-top: 1rem;
}

.mat-sort-header-container {
    display: flex;
    color: white;
    justify-content: center;
    padding-left: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
}

hr {
    border: 1px solid #009ad3;
}

.mat-header-cell {
    text-align: center;
    background-color: orange;
    font-size: 13px;
    color: white;
}

.mat-cell {
    text-align: center;
}

.mat-tab-label-container,
.mat-tab-header {
    display: flex;
    justify-content: space-around;
    background: #002060 !important;
}

.mat-tab-label .mat-tab-label-content {
    background: transparent;
    color: white;
}

.mat-tab-labels {
    display: flex;
    justify-content: space-around;
}

.statusFreeze {
    position: absolute;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
}

a.canvasjs-chart-credit {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .mat-menu-panel {
        margin-left: -15px !important;
        background-color: #002060;
        color: white;
        border: none;
    }
    .mat-tab-label-container,
    .mat-tab-header,
    .mat-tab-labels {
        display: contents;
    }
    .cdk-overlay-pane {
        max-width: fit-content !important;
        width: fit-content !important;
    }
}