/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cursor{
  cursor: pointer;
}
 table.mat-table {
    width: 100%;
    margin-top: 1rem;
}

.mat-sort-header-container {
  display:flex;
  background-color: orange;
  color: white;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
}
hr {
  border: 1px solid #009ad3;
}
.mat-header-cell{
  text-align: center;
  background-color: orange;
  font-size: 13px;
  color: white;
}
.mat-cell{
  text-align: center;
}
.mat-tab-label-container, .mat-tab-header {
  display: flex;
  justify-content: space-around;
  background: #002060 !important;
  
}
.mat-tab-label .mat-tab-label-content{
  background: transparent;
  color: white;
 
}

.mat-tab-labels {
  display: flex;
  justify-content: space-around;
}

.statusFreeze{
  position:absolute;
  z-index:10000;
  background: rgba(0,0,0,0.5);
  color: #fff;
  width:100vw;
  height: 200vh;
  align-items: center;
  justify-content: center;
  font-size:1rem;
} 