


    <div class="flex"> 
        <div>
            <mat-accordion>
                <!-- ----------------------------Devices----------------------------------- -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Geofence Setting
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card class="location">
                        <mat-card-content>
                            <form [formGroup]="geofenceForm" (ngSubmit)="submit(geofenceForm.value)">
          
                                <mat-radio-group  color="primary" formControlName="alert" >
                                    <mat-label>Alert through :</mat-label> &nbsp;
                                    <mat-radio-button class="example-radio-button"  value="sms">SMS</mat-radio-button> &nbsp;
                                    <mat-radio-button class="example-radio-button"  value="email">Email</mat-radio-button>
                                </mat-radio-group> <br>
                                <mat-form-field>
                                    <mat-label>Select Asset</mat-label>
                                    <mat-select formControlName="deviceId" multiple>
                                        <mat-option #allSelected (click)="toggleAllSelectionDevice(geofenceForm)" [value]="0">All</mat-option>
                                        <mat-option *ngFor="let find of deviceData" [value]="find.deviceId">{{find.deviceName}}</mat-option>
                                    </mat-select>
                                </mat-form-field> <br>
                                <mat-form-field>
                                    <mat-label>Select Geofence</mat-label>
                                    <mat-select formControlName="coinId" multiple>
                                        <mat-option #allSelected (click)="toggleAllSelectionCoin(geofenceForm)" [value]="0">All</mat-option>
                                        <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">{{coin.coinName}}</mat-option>
                                    </mat-select>
                                </mat-form-field> <br>
                                <button mat-raised-button [disabled]="!geofenceForm.valid" color="primary">submit</button>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    <div class="map"><h1>Geofence Setting Info</h1> <hr></div>
    <mat-form-field>
        <input matInput placeholder="Search device" autocomplete="off" matInput (input)="search($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    </div> 